<html>
{% load static %}
    <head>
        <script src="{% static 'vue.js' %}"></script>
        <link rel="stylesheet" href="{% static 'custom.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    
        
    </body>
    
    <div class="footer">
        <p>Footer</p>
    </div>
    {% block footer %}
    {% endblock %}

</html>